
@model LectureCreatingBindingModel
@{
    ViewData["Title"] = "Add lecture";
}

<h2>Add Lecture</h2>

@*@Html.EditorForModel()*@

<form method="post" asp-area="Lecturer" asp-controller="Lectures"
      asp-action="Add" asp-route-id="@Model.CourseId" class="form-horizontal">

    @*@Html.EditorForModel()*@

    @Html.FormGroupFor(model => model.CourseId)
    @Html.FormGroupFor(model => model.Title)
    @Html.FormGroupFor(model => model.Description)
    @Html.FormGroupFor(model => model.LectureHall)
    @Html.FormGroupFor(model => model.Order)
    @Html.FormGroupFor(model => model.StartTime)
    @Html.FormGroupFor(model => model.EndTime)
    @*<div class="form-group row">
            <label asp-for="StartTime" class="col-sm-2 col-form-label col-sm-push-1"></label>
            <div class="col-sm-10">
                <input asp-for="StartTime" class="form-control">
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="EndTime" class="col-sm-2 col-form-label col-sm-push-1"></label>
            <div class="col-sm-10">
                <input asp-for="EndTime" class="form-control">
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
        </div>*@


    <br />
    <div class="form-group row text-center">
        <div class="col-sm-10 ">
            @*<button type="submit" class="btn btn-primary">Add a lecture</button>*@
            <input type="submit" value="Add a lecture" class="btn btn-success" />
        </div>
    </div>
</form>

